<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input type="search" class="filtro" placeholder="O que você procura?" autofocus [(ngModel)]="filter" (keyup)="pesquisarPensamentos()">
    </div>
    <h2 class="ff-inter">{{ titulo }}</h2>
    <div class="botoes">
      <button class="botao" (click)="recarregarComponente()">Meu Mural</button>
      <button class="botao" (click)="pesquisarPensamentos()">Meus Favoritos</button>
      <button routerLink="/criarPensamento" class="botao">Adicionar pensamentos</button>
    </div>
  </header>
  <div class="mural" *ngIf="ListaPensamento.length > 0, else semPensamentos">
    <div *ngFor="let pensamento of ListaPensamento">
      <app-pensamento [pensamento]="pensamento" [listaFavoritos]="listaFavoritos" ></app-pensamento>
    </div>
  </div>
</section>

<app-botao-carregar-mais [haMaisPensamentos]="haMaisPensamentos" (click)="carregarMaisPensamento()"></app-botao-carregar-mais>

<ng-template #semPensamentos>
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados</p>
  </div>
</ng-template>
